
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-book"></i>Book Management System
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/" data-section="home">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addbook" data-section="add">
            <i class="fas fa-plus"></i> Add Book
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/viewbook" data-section="view">
            <i class="fas fa-th-list"></i> View Books
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>